<!---Othmane El Houssi (oe2196)-->
{% extends "layout.html" %}

{% block content %}
    <div id="banner" class="text-center">
        <div id="welcome-msg">
            <h1>Welcome to Math Hall of Fame!</h1>
            <p>Start by exploring the following mathematicians or search for them in the search bar above</p>
        </div>
        <div id="flashcard-container" class="flashcard mx-auto">

        </div>
        <button class="btn btn-light next-btn" id="next-flashcard">Next</button>
    </div>

{% endblock %}